<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Who Cooks?</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header class="blog-header py-2">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 text-left">
                    <a class="blog-header-logo text-dark"asp-controller="Home" asp-action="Index">Who cooks?</a>
                </div>
                <div class="col-md-2 text-right flex justify-content-between align-items-end">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </header>
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav   justify-content-between">
                <a class="p-2 link-secondary" asp-controller="Recipes" asp-action="All">All Recipes</a>
                <a class="p-2 link-secondary" asp-controller="Recipes" asp-action="Add">Add a Recipe</a>
                <a class="p-2 link-secondary" asp-controller="Article" asp-action="Index">How-To Articles</a>

            </nav>
        </div>

    </div>
    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - WhoCooks
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
